<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomyGo</title>
</head>
<body>
    <h2>Create a new Listing : </h2>
    <form action="/listings" method="POST">
        <input name="listing[title]" type="text" placeholder="Enter Title">
        <br>
        <textarea name="listing[description]" placeholder="description" ></textarea>
        <br>
        <input name="listing[image]" type="text" placeholder="Enter URL">
        <br>
        <input name="listing[price]" type="number" placeholder="Enter price">
        <br>
        <input name="listing[country]" type="text" placeholder="Enter country">
        <br>
        <input name="listing[location]" type="text" placeholder="Enter location">
        <br>
        <button>add</button>
    </form>
</body>
</html>